

<div>
    <form id="form_coordonnee" action=<%= livreur_liste_commandes_path(:id => @livreur.id) %> method="post">
        <p>Cordonnées: <input type="text" name="coordonnee"></p>
        <input  type="submit" value="Confirmation">
     </form>
</div>