body {
  margin: 0px;
}

#nav {
  background-color: #000000;
  width: 100%;
  height: 50px;
  box-shadow: 0px 1px 50px #5E5E5E;
  position: fixed;
  top: 0px;
  padding-top: 15px;
}

#bodycommande {
  background-color: #2E2F30;
  width: 100%;
  height: 100%;
  top: 65px;
  position: fixed;

}

#bodyConnexion {
  background-color: #2E2F30;
  width: 100%;
  height: 100%;
  top: 65px;
  position: fixed;
  display:none;
}

#commande {
  background-color: #000000;
  position: absolute;
  left: 50%;
  margin-left: -300px;
  margin-top: 45px;
  top: 20px;
  border-radius: 10px;
  width: 700px;
  height: 80px;
  padding-left: 2px;
  padding-top: 20px;
}



.subtitle {
  color: #EDEDED;
  font-family: verdana;
  font-size: 15px;
}

#boutonConnexion {
  color: #949745;
  display: inline;
  float: right;
  padding-top: 5px;
  padding-left: 15px;
  font-size:medium;
}

#boutonInscription {
  color: #949745;
  display: inline;
  float: right;
  padding-top: 5px;
  padding-left: 15px;
  background-color: #000000;
  font-size:medium;
}
#boutonCommande {
  color: #949745;
  display: inline;
  padding: 5px;
  float: right;
  display: inline;
  padding-left: 15px;
}

#navigation {
  list-style-type: none;
  background-color: #000000;
}


li {
  color: #949745;
  display: inline;
  padding-left: 45px;
  padding-top: 50px;
  font-size: medium;
}

#ulcommande {

  color: #949745;
  display: inline;
  padding-left: 0px;
  padding-top: 10px;
  float: right;
}

#body {
  width: 850px;
  margin: 0px auto;
  margin-top: 80px;
  font-family: verdana;
}

li.boutonLabel {
  color: #949745;
  display: inline;
  padding-left: 25px;
  padding-top: 10px;
  float: right;
  font-size: medium;
  background-color: #000000;
}

select {
  margin-top: 0px;
  margin-left: 5px;
}

div.menu {
  width: 700px;
  height: 400px;
  color: #949745;
  background-color: #000000;
  margin-left: 28%;
  border-radius: 10px;
  border-color: #6e6d0d;
  border-width: medium;

}

h3.titremenu {
  padding-top: 5px;
  padding-left: 45%;
  color: #949745;
  background-color: #000000;
}

.title {
  color: #949745;
  font-family: verdana;
  font-size: 25px;
  width: 350px;
  margin-top: 6px;
  margin-left: 150px;
  font-weight: bold;
  float: left;
  background-color: #000000;
}

.button_to{
  background-color: #000000;
  color: #949745;
}

label, input { display:block; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }
h1 { font-size: 1.2em; margin: .6em 0; }
div#users-contain { width: 350px; margin: 20px 0; }
div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }