// Place all the styles related to the Clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.field{

  background-color: #2E2F30;
  color: #949745;
  font-size:medium;
}


.labelClient{
  padding-top: 15px;
  background-color: #2E2F30;
  color: #949745;
  font-size:medium;
}

.txtFieldClient{
  background-color: #2E2F30;
  color: #949745;
}
p{
  background-color: #2E2F30;
  color: #949745;
  font-size:medium;
}

div{
  background-color: #000000;
  color: #949745;
  font-size:medium;
}
form{
  background-color: #000000;
  color: #949745;
  padding-top:0px;
  padding-left:10px;
}
html{
  background-color: #000000;
  color: #949745;
}

.actions{
  background-color: #000000;
  color: #949745;
}
